#chat-screen {
    background-color: rgb(176, 230, 252);
    height: 1100vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(176, 230, 252);
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

#chat-screen .status-bar {
    z-index:2;
}

/* z-index 는 포토샵에 레이어 같은 개념이라고 생각하면 됨. 
높을수록 우선순위가 높아짐. */

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-right: 15px;
}

.message__author {
    margin-bottom: 8px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    max-width: 70%;
    font-size: 18px;
    margin-right: 5px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__time, .message__author {
    opacity: 0.8;
    font-size: 14px;
}

.message-row__own {
    display:flex;
    justify-content: flex-end;
}

.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row__own .message__info {
    flex-direction: row-reverse;
}