/* 마법처럼 가운데에 정렬해주는 코드 시작점 */

.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:last-child {
    margin-left: auto;
}

/* 마법처럼 가운데에 정렬해주는 코드 끝점 */

