/* 마법처럼 가운데에 정렬해주는 코드 시작점 */

.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    top: 0;
}

.alt-header__column {
    width: 33%;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

/* 마법처럼 가운데에 정렬해주는 코드 끝점 */

.alt-header__column span:last-child{
    margin-left: 10px;
}