.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.nav__link {
    position: relative;
    color: rgb(100, 88, 88);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
